{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% csrf_token %}

{% block user_email %} {{ request.user.email }} Profile {% endblock %}

{% block js_files %}
    <script src="{% static 'accounts/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
    {% if self_dash %}
        <table>
            <li><a href="{% url 'posts:add_post' request.user.id %}">Add post</a></li>
            <li><a href="{% url 'shop:add_product' request.user.id %}">Add Product</a></li>
            <li><a href="{% url 'shop:manage_products' request.user.id %}">Manage product </a></li>

            <li><a href="{% url 'accounts:profile_update' request.user.id %}">Edit Profile</a></li>
        </table>
    {% endif %}

    <div class="card text-center" style="width: 18rem; display:inline-block">
        {% thumbnail user.image "300x300" as img %}
            <a href="{% url 'accounts:show_photo' user.id %}">
                <img  src="{{ img.url }}" class="card-img-top">
            </a>
        {% endthumbnail %}        
    </div>

    <h4 class="text-center">{{ user.email|capfirst }}</h4>
    <p class="text-center">{{ user.bio }}</p>
    {% if user.age %}
        <p class="text-center">{{ user.age }} years old</p>
    {% endif %}

    

    {% if request.user.id != user.id and not is_following %}
        <button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-primary text-center mx-auto">follow</button>
    {% elif request.user.id != user.id and is_following %}
        <button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-warning text-center mx-auto">unfollow</button>
    {% endif %}
    <form action="{% url 'single_message:dual_room' user.id %}" method="post">
        {% csrf_token %}
       
        <input type="submit"  value="Message">
    </form>

    <br/><br/><br/>
    {% for post in posts %}
        <div class="card">
            <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
        </div>
    {% empty %}
        <p>This user has no posts</p>
    {% endfor %}
{% endblock %}