{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'single_message/css/style.css' %}" />
{% endblock %}

{% block content %}
<div id="frame">
  <div class="content">
    <div class="contact-profile">
      <img src="" alt="" />
      
      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="messages">
      <ul id="chat-log">
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input id="chat-message-input"   type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true" onclick="document.getElementById('inp').click();"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<input id="inp" type='file' style="display:none" />
<p id="b64"></p>
    
    {{request.user.email|json_script:"sender" }}
    {{ reciever|json_script:"reciever" }}
    {{ roomname|json_script:"roomname" }}
{% endblock %}
{% block js_files %}
<script>
        const reciever = JSON.parse(document.getElementById('reciever').textContent);
        const sender = JSON.parse(document.getElementById('sender').textContent);
        const roomName = JSON.parse(document.getElementById('roomname').textContent);
        

        const chatSocket_dual = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dual_message/'
            + roomName
            + '/'
        );

        const chatSocket2 = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dual_message/'
            + 'listener'
            + '/'
        );

      chatSocket2.onmessage = function(e) {
        
        var data = JSON.parse(e.data);
          console.log('notif data:'+data);
          if(data['reciever'] == sender){
            if(data['__str__'] != sender ){
                  console.log('notif is ok');
                  let divchat = document.getElementById('dropdown_chat_list');
                  let message_item = document.createElement("button");
                  let message_deail = document.createElement("div");
                  message_item.innerHTML=data['__str__'];
                  message_item.className="message_item_class";
                  message_deail.className="message_detail_class";
                  message_deail.style.display='none';
                  message_deail.innerHTML=data['content'];
                  divchat.appendChild(message_item);
                  divchat.appendChild(message_deail);

                  $(".message_item_class").hover(function(){
                    $(this).next().toggle();
                  });

                  if (!("Notification" in window)) {
                    alert("This browser does not support desktop notification");
                  }
            
                  // Let's check whether notification permissions have already been granted
                  else if (Notification.permission === "granted") {
                    // If it's okay let's create a notification
                    var notification = new Notification(data['__str__']+" : "+data['content']);
                  }
              
                  // Otherwise, we need to ask the user for permission
                  else if (Notification.permission !== "denied") {
                    Notification.requestPermission().then(function (permission) {
                      // If the user accepts, let's create a notification
                      if (permission === "granted") {
                        var notification = new Notification("Hi there!");
                      }
                    });
                  }
                  
              
            }
          }
      }
      
      chatSocket_dual.onopen = function(e) {
          console.log('on Open');
          chatSocket_dual.send(JSON.stringify({'command': 'fetch_message', 'roomname': roomName, 'username':sender}));
      }

        chatSocket_dual.onmessage = function(e) {
            const data = JSON.parse(e.data);
         //   document.querySelector('#chat-log').value += (data.message + '\n');
            console.log('on_messgae');
          
          console.log(data);
          if (data['command'] === 'fetch_message') {
              for (let i=data['content'].length-1; i>=0 ; i--) {
              createMessage(data['content'][i]);
            }
          }

          else if (data['command'] === "new_message" ){
            createMessage(data);
            }

          else if(data['command'] === 'img'){

            createMessage(data);


          }
        }; 

        function createMessage(data) {
        var author = data["__str__"];
        var command = data['command'];

        if(command == "img"){

          var msgListTag = document.createElement('li');
          var imgTag = document.createElement('img');
          imgTag.src = data['content'];
          msgListTag.appendChild(imgTag);
        }

        else{
          
          var msgListTag = document.createElement('li');
          var pTag = document.createElement('p');
          pTag.textContent = data.content;
          msgListTag.appendChild(pTag);
          console.log('content');
          console.log(data.content);

        }
        if (author === sender) {
          msgListTag.className = 'sent';
        } else {
          msgListTag.className = 'replies';
        }
        console.log('append');
        document.querySelector('#chat-log').appendChild(msgListTag);
      } 
      

      document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            
            chatSocket_dual.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'sender' : sender,
                'reciever':reciever,
                'roomname': roomName,
                'username':sender
            }));
            messageInputDom.value = '';
      };
</script>
{% endblock %}
</html>