{% extends 'base.html' %}
{% block js_files %}
<script>
    $(document).ready(function(){
      $(".Reply_class").click(function(){
        $(this).parent().next().toggle();
       });
      
    });
</script>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated and request.user.id == post.user.id%}
        <a href="{% url 'posts:post_delete' post.user.id post.id %}">delete post</a>
        <a href="{% url 'posts:post_edit' post.user.id post.id %}">Edit post</a>
    {% endif %}
    <p>{{ post.user }} | {{ post.created|date }} | {{ rviews }} views</p>
    <p>{{ post.body }}</p><hr/>

    {% with total=comments.count %}
        <p>This post has {{ total }} comment{{ total|pluralize }}</p>
    {% endwith %}

    {% if request.user.is_authenticated %}
        {% if not can_like %}
            <a href="{% url 'posts:post_like' post.id  %}" class="btn btn-primary {% if can_like %}disabled {% endif %} col-md-2">Like {{ post.likes_count }}</a>
        {% else %}
            <div class="btn btn-primary col-md-3">You Liked and {{ post.likes_count }} others</div>
            <div><a href="{% url 'posts:post_dislike' post.id  %}" class="btn btn-warning  col-md-1">DissLike </a>
            </div>
        {% endif %}   
    {% endif %}
<br/><br/><br/>

    {% if request.user.is_authenticated %}
    <form action="" method="post" novalidate class="col-md-6">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" class="btn btn-primary">
    </form>
    {% else %}
        <p>only logged in users can send comments</p>
    {% endif %}<br/><br/><br/>

    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-body">{{ comment.body }}</p>
            {% if request.user.is_authenticated %}
                <div  class="card-header"><a href="{% url 'accounts:dashboard' comment.user.id  %}"> {{comment.user }} </a><div  class="Reply_class btn btn-primary col-md-1">reply</div></div>

                <div id="reply_form" class="card-body" style="display:none">
                    <form action="{% url 'posts:add_reply' post.id comment.id %}" method="post">
                        {% csrf_token %}
                        {{ reply.as_p }}
                        <input type="submit" value="Send">
                    </form>
                </div>
            {% else %}
                <p>you have to login to send reply</p>
            {% endif %}
            {% for reply in comment.rcomment.all %}
                <p class="bg-primary text-white p-3 m-5">{{ reply.user }} <br/> {{ reply.body }}</p>
            {% endfor %}
        </div><br/>
    {% empty %}
        <p>There is no comment</p>
    {% endfor %}
{% endblock %}